/*Fuentes agregadas + extras y estilos de toda la pagina predetermidados*/
@font-face{
	font-family: 'titulo';
	src:url(techno_hideo.ttf);
}

@font-face{
	font-family: 'SubTitu';
	src:url(8-bit-pusab.ttf);
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic';
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*para los contenidos de informacion*/
h2{
  margin: 0;
	font-family: 'SubTitu';
	font-size: 15px;
	padding: 10px;
	color: red;
}

p{	/*parrafos con fondo negro*/
	border-radius: 10px;
	margin: 0 40px;
	padding: 10px;
	background-color: rgba(0, 0, 0,.5);
}

body{/*para fondo y color de fuente predeterminado*/
	color: white;
	background: -webkit-linear-gradient(to bottom right,rgba(0, 0, 0), rgba(38, 11, 82 ), rgba(0, 0, 0)); 
	background: -moz-linear-gradient(to bottom right,rgba(0, 0, 0), rgba(38, 11, 82 ), rgba(0, 0,0));
	background: linear-gradient(to bottom right,rgba(0, 0, 0), rgba(38, 11, 82 ), rgba(0, 0, 0));
}

section{/*separacion de paddin para el cuerpo del html*/
	padding: 5% 20%;
}

	/*Secciona los parrafos y agrega una linea*/
#contenido{
	border-bottom:solid 1px white;
}
/*---*/


/*Cabecera*/
h1{
	text-shadow: rgba(104, 75, 238,.3) -10px 10px;
	font-family: 'titulo';
	padding: 100px 20px;
	font-size: 6em;
	color: #ffffff;
}

header {
    background-image: url(Fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 22em;
    padding: 0; 
    margin: 0; 
}

#fondo{
    background: -webkit-radial-gradient(center, circle,rgba(255,255,255,.1),rgba(0,0,0,.7)); /
    background: -moz-radial-gradient(center, circle,rgba(255,255,255,.1),rgba(0,0,0,.7));
    background: gradient(center, circle,rgba(255,255,255,.1),rgba(0,0,0,.7));
    height: 22em;
}
/*Menu*/
#header {
    display: flex;
    align-self: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav > li {
    float: left;
}

.nav li a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    margin: 0px 5px;
    display: block;
    width: 220px; /* Ancho fijo para los enlaces */
    text-align: center; /* Centrar el texto */
}

.nav li a:hover {
    background-color: #E6C5FF;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    width: 140px; /* Ancho fijo para los submenús */
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    left: 140px; /* Posicionar el submenú anidado a la derecha */
    top: 0;
}
/*---*/

/*---*/


/*Imagenes y recursos*/
.recurso{
	flex: center;
	width: 600px;
	margin: 5% 10%;
}

#datos {
	width: 100%;
	margin: 0;
	text-align: center;
}

#datos img {
	margin: 5%;
	padding:2%;
	border-radius: 100%;
	width: 10%;
	background-color: rgba(50, 25, 129 ,.8);
	box-shadow: rgba(9, 29, 89,.8) 20px 20px;

}
	/*parrafos con imagen*/
		#DataAna {
			width: 95%;
			margin: 3em;
		}

		#DataAna img {
			width: 150px;
			margin: 10px;
			float: left;
			background-color: 0;
			box-shadow: none;
		}

		#DataAna p {
			text-align: justify;
		}
	/*---*/
/*---*/


/*Animaciones*/

section h2, section h3, h1, nav ol ul a li,
section p,
section ul,
section .timeline,
section .concept-map, section img{
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.3s;
}

/* Espera un poco antes de comenzar la animación para cada elemento */
section h2 {
    animation-delay: 0.3s;
}

section p {
    animation-delay: 0.5s;
}


section ul {
    animation-delay: 0.7s;
}

section img,
section .timeline {
    animation-delay: 0.9s;
}

.nav li ul {
  opacity: 0;
  animation: fadeInUp .3s ease-out forwards;
  animation-delay: 0.3s;
}

section .concept-map {
    animation-delay: 1.1s;
}
/*---*/


/*TimeLine*/
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #C900FF;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #68457E;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

  /*Formulario*/
#cajaformulario{
float: left;
padding: 10px;
border: 1px solid #5C007F;
}
#cajadatos{
float: left;
width: 450px;
margin-left: 20px;
padding: 20px;
border: 1px solid #5C007F;
}
#clave, #texto{
width: 150px;
}
#cajadatos > div{
padding: 5px;
border-bottom: 1px solid #5C007F;
}

#grabar, #eliminar, #subir{
  margin-left: 27px;
  border-style:none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(250, 250, 250,.5);
  color: #fff;
}

/* Chatbot Styles */
.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot-container {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s;
    z-index: 1400;
}

.hidden {
    transform: scale(0);
    transform-origin: bottom right;
}

.chatbot-logs {
    padding: 10px;
    overflow-y: auto;
    flex: 1;
}

.chatbot-chat {
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    background-color: #e0e0e0;
}

.bot-message {
    align-self: flex-start;
}

.user-message {
    background-color: #4CAF50;
    color: white;
    align-self: flex-end;
    margin-right: 10px;
}

.chatbot-input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#chatbotInput, button {
    padding: 10px;
    border: none;
    margin: 5px;
}

#chatbotInput {
    flex-grow: 1;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #367c39;
}
/**/
  /*--*/
